
html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #39383D;
    color: #fff;
}

.back {
    z-index: 1;
}

.back_balk1 {
    position: fixed;
    width: 1517px;
    height: 322px;
    left: 171px;
    top: 95px;
    background: #434048;
    border-radius: 10px;
}

.back_balk2 {
    position: fixed;
    width: 1717px;
    height: 422px;
    left: -405px;
    top: 503px;

    background: #434048;
    border-radius: 10px;
}

.bar_back {
    position: fixed;
    width: 80px;
    height: 580px;
    right: 385px;
    top: 70px;

    background: #8E879C;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.bar_box0 {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 12.5px;
    top: 20px;

    background: #C3B9D7;
    box-shadow: 1.97778px 1.97778px 9.88889px rgba(0, 0, 0, 0.25);
    border-radius: 9.88889px;
}

.bar_box {
    position: relative;
    width: 60px;
    height: 60px;
    left: 10px;
    top: 90px;

    background: #5C5865;
    box-shadow: inset 1.97778px 1.97778px 9.88889px rgba(0, 0, 0, 0.25);
    border-radius: 9.88889px;
}

.bar_box1 {
    position: relative;
    width: 90px;
    height: 60px;
    left: 10px;
    top: 105px;

    background: #5C5865;
    box-shadow: inset 1.97778px 1.97778px 9.88889px rgba(0, 0, 0, 0.25);
    border-radius: 9.88889px;
}

.bar_box2 {
    position: relative;
    width: 90px;
    height: 60px;
    left: 10px;
    top: 120px;

    background: #5C5865;
    box-shadow: inset 1.97778px 1.97778px 9.88889px rgba(0, 0, 0, 0.25);
    border-radius: 9.88889px;
}

.bar_box3 {
    position: relative;
    width: 90px;
    height: 60px;
    left: 10px;
    top: 135px;

    background: #5C5865;
    box-shadow: inset 1.97778px 1.97778px 9.88889px rgba(0, 0, 0, 0.25);
    border-radius: 9.88889px;
}

.bar_box4 {
    position: relative;
    width: 90px;
    height: 60px;
    left: 10px;
    top: 150px;

    background: #5C5865;
    box-shadow: inset 1.97778px 1.97778px 9.88889px rgba(0, 0, 0, 0.25);
    border-radius: 9.88889px;
}

.bar_box5 {
    position: relative;
    width: 90px;
    height: 60px;
    left: 10px;
    top: 165px;

    background: #5C5865;
    box-shadow: inset 1.97778px 1.97778px 9.88889px rgba(0, 0, 0, 0.25);
    border-radius: 9.88889px;
}

.bar_box6 {
    position: relative;
    width: 90px;
    height: 60px;
    left: 10px;
    top: 180px;

    background: #5C5865;
    box-shadow: inset 1.97778px 1.97778px 9.88889px rgba(0, 0, 0, 0.25);
    border-radius: 9.88889px;
}

.bar_back div {
    width: 55px;
    height: 55px;
    left: 12.5px;


}

.container {
    display: grid;
    justify-content: center;
    position: relative;
    z-index: 100;
    flex: 1;
    margin: auto;
    width: 550px;
    height: 700px;
}

.ground {
    position: relative;
    top: 50px;
    width: 550px;
    height: 650px;
    background: #8E879C;
    box-shadow: 1.97778px 3.95556px 9.88889px rgba(0, 0, 0, 0.25);
    border-radius: 9.88889px;
}
.icon_image {
    position: absolute;
    width: 180px;
    height: 250px;
    left: -60px;
    top: -30px;
    background: #C3B9D7;
    box-shadow: 3.95556px 3.95556px 9.88889px 2.96667px rgba(0, 0, 0, 0.25);
    border-radius: 9.88889px;
}

.nick_name {
    position: relative;
    width: 250px;
    height: 60px;
    left: 140px;
    top: 20px;

    background: #5C5865;
    box-shadow: 1.97778px 1.97778px 9.88889px 0.988889px rgba(0, 0, 0, 0.25);
    border-radius: 9.88889px;
}

.Status {
    position: relative;
    width: 300px;
    height: 50px;
    left: 140px;
    top: 40px;

    background: #5C5865;
    box-shadow: 1.97778px 1.97778px 9.88889px 0.988889px rgba(0, 0, 0, 0.25);
    border-radius: 9.88889px
}

.profession {
    position: relative;
    width: 350px;
    height: 50px;
    left: 140px;
    top: 60px;

    background: #5C5865;
    box-shadow: 1.97778px 1.97778px 9.88889px 0.988889px rgba(0, 0, 0, 0.25);
    border-radius: 9.88889px;
}

.redact_back {
    position: absolute;
    width: 55px;
    height: 55px;
    right: 20px;
    top: 20px;

    background: #C3B9D7;
    box-shadow: 1.97778px 1.97778px 9.88889px 0.988889px rgba(0, 0, 0, 0.25);
    border-radius: 9.88889px;

}
.about{
    position: relative;
    width: 500px;
    height: 300px;
    left: 20px;
    top: 90px;

    background: #5C5865;
    box-shadow: 1.97778px 1.97778px 9.88889px 0.988889px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.friends_back {
    position: relative;
    display: flex;
    width: 55px;
    height: 55px;
    left: 20px;
    top: 110px;

    background: #C3B9D7;
    box-shadow: 1.97778px 1.97778px 9.88889px 0.988889px rgba(0, 0, 0, 0.25);
    border-radius: 9.88889px;

}
.music_back {
    position: relative;
    width: 55px;
    height: 55px;
    left: 95px;
    top: 55px;

    background: #C3B9D7;
    box-shadow: 1.97778px 1.97778px 9.88889px 0.988889px rgba(0, 0, 0, 0.25);
    border-radius: 9.88889px;

}
.bar_back img{
    position: absolute;
    display: flex;
    margin: 8px 8px;
    max-width: 70%;
}
.friends_back img{
    position: absolute;
    display: flex;
    margin: 8px 8px;
    max-width: 70%;
}
.music_back img{
    position: absolute;
    display: flex;
    margin: 8px 8px;
    max-width: 70%;
}
.redact_back img{
    position: absolute;
    display: flex;
    margin: 8px 8px;
    max-width: 70%;
}
.icon_image img{
    position: absolute;
    display: flex;
    margin: 55px 30px;
    max-width: 70%;
}