.bar_box0 {
    background: #5C5865;
    box-shadow: inset 1.97778px 1.97778px 9.88889px rgba(0, 0, 0, 0.25);

}
.bar_box5 {
    background: #C3B9D7;
    box-shadow: 1.97778px 1.97778px 9.88889px rgba(0, 0, 0, 0.25);
}